@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@900&display=swap");
body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efedf0;
  font-size: 125%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* part 2 styling */

.students {
  background: white;
  width: 70%;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0 0 5px 1px rgb(0 0 0 / 30%);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 30%);
}

/* individual student info styling */
.studentList {
  display: flex;
  border: 1px solid #efedf0;
  list-style: none;
  position: relative;
}

.studentPic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentPic img {
  margin: 20px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgb(177, 174, 174);
}

.studentInfo {
  margin-left: 30px;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
}

p {
  margin-left: 20px;
  padding: 5px;
}

/* part 3 styling */
input[type="text"] {
  padding: 10px;
  width: 100%;
  border: none;
  margin: 5px;
}

input[type="text"]:hover,
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

/* part 4 button styling */

.btn {
  position: absolute;
  right: 3%;
  top: 8%;
  font-size: 50px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  color: #949494;
}

.btn:hover {
  color: black;
  cursor: pointer;
}
